.productsEl {
  width: 68%;
  display: flex;
  justify-content: space-around;
}

.prod {
  border: 1px solid #c0c0c0;
  width: 23%;

  img {
    width: 100%;
    height: 150px;
    padding: 2px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desc {
    margin-top: 10px;
    text-align: center;
    color: #4d4c4c;
  }

  button {
    background-color: #2e5ea5;
    border-radius: 6px;
    width: 100%;
    padding: 15px;
    color: white;
    outline: none;
    border: none;
    display: block;
    margin: 20px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
  }
}
button:hover {
  background-color: #113770;
}
